<% include header.ejs %>
<%=title[3]%>
<script type="text/javascript">
    function validate_required(field,alerttxt)
    {
        with (field)
        {
            if (value==null||value=="")
            {alert(alerttxt);return false}
            else {return true}
        }
    }
    function validate_form(thisform)
    {
        with (thisform)
        {
            if (validate_required(mname,"影片名字不能为空!")==false)
            {mname.focus();return false}
            if(validate_required(startTime,"影片开始时间不能为空!")==false)
            {startTime.focus();return false}
            if(validate_required(endTime,"结束时间不能够为空!")==false)
            {endTime.focus();return false}
            if(validate_required(language,"语言不能够为空!")==false)
            {language.focus();return false}
            if(validate_required(publisher,"发行商不能够为空!")==false)
            {publisher.focus();return false}
            if(validate_required(price,"价格不能够为空!")==false)
            {price.focus();return false}
            if(validate_required(number,"数量不能够为空!")==false)
            {number.focus();return false}
            if(validate_required(mvalue,"放映厅编号不能够为空!")==false)
            {mvalue.focus();return false}
        }
    }
</script>
<form action="addFilm" method="get" name="addFilm" onsubmit="return validate_form(this)">
    <input id="mname" name="mname" type="text" class="form-control" placeholder="影片名" />
    <input id="cinema" name="cinema" type="text" class="form-control" placeholder="影院名(电影院工作人员不需要输入)" />
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap-datetimepicker.js"></script>
    <script src="javascripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap-datetimepicker.css">
    <br/>开始时间<input id="startTime" type="text" class="form-control button" name="startTime" value=""/>
    <script type="text/javascript">
        $('#startTime').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
    <br>结束时间<input id="endTime"  type="text" class="form-control button"name="endTime"value=""/>
    <script type="text/javascript">
        $('#endTime').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
    <input id="language" name="language" type="text" class="form-control" placeholder="语言" />
    <input id="publisher" name="publisher" type="text" class="form-control" placeholder="发行商" />
    <input id="price" name="price" type="text" class="form-control" placeholder="票价" />
    <input id="number" name="number" type="text" class="form-control" placeholder="余量" />
    <input id="mvalue" name="mvalue" type="text" class="form-control" placeholder="放映厅(输入数字)" />
    <button id="btnSub" class="btn"onclick="addFilm()" type="submit">添加电影</button>
    <a class="btn btn-link" href="filmInfo" role="button">进入所有电影的查询界面</a>
</form>
<% include footer.ejs %>