<% include header.ejs %>
<% include header1.ejs %>
<!DOCTYPE html>
<form action = "delet" method = "get">
    <!--点击实现跳转的网页-->

    <td><a class="btn-form" href="search">返回</a>
</form>
<% include footer.ejs %>